:root {
  --primary-color: #e7dfdf;
  --secondary-color: #6b6969;
  --active-color: #6206ef;
  --active-background: #ede2fd;
  --drawer-background: #ffffff;
  --hover-background: #e6e6fa;
}
body {
  margin: 0;
  font-size: 20px;
  background-color: var(--primary-color);
}

/* .container {
  margin: 5rem;
  height: 100%;
} */

/* 1. Drawer lists*/
/* 
.drawer {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 20%;
  background-color: var(--drawer-background);
} */

.drawer {
  box-sizing: border-box;
  background-color: var(--drawer-background);
  width: 20%;
  display: none;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: 1s ease;
}
.drawer__header {
  position: relative;
  box-sizing: border-box;
}
.drawer__header--title {
  margin: 0px;
}
.drawer__header--subtitle {
  color: var(--secondary-color);
}
.close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 2.5rem;
  transition-delay: 1s;
}

.drawer__list {
  list-style: none;
  font-size: 1.5rem;
  margin: auto 0px;
  padding: 0px;
}

.drawer__list--item {
  /* margin: 1rem; */
  padding: 1rem;
  flex-wrap: wrap;
}

.drawer__list--item span {
  margin: 0.5rem 1rem 0.5rem;
}
.active {
  color: var(--active-color);
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--active-background);
}

.drawer__list--item:hover {
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--hover-background);
}

/* Content area */
.content__body {
  /* transition: margin-left 1s; */
  height: 100vh;
  position: relative;
}
.hamberger {
  cursor: pointer;
}
.content__body header h1 {
  background-color: var(--active-color);
  margin: 0;
  padding: 1rem;
  color: var(--primary-color);
}
.content__body main {
  padding: 0rem 3rem;
}
